/* brand color classes */

.text-brand-primary, .text-brand-primary p {}
.text-brand-secondary, .text-brand-secondary p {}
.link-brand-primary, .link-brand-primary p {}
.link-brand-secondary, .link-brand-secondary p {}

.hintergrund-brand-primary {}
.hintergrund-brand-secondary {}
.hintergrund-background {}
.hintergrund-transparent-brand-primary {}
.hintergrund-transparent-brand-secondary {}
.hintergrund-transparent-background {}
.ueberschrift-brand-primary h1,.ueberschrift-brand-primary h2,.ueberschrift-brand-primary h3,.ueberschrift-brand-primary h4,.ueberschrift-brand-primary h5,.ueberschrift-brand-primary h6 {}
.ueberschrift-brand-secondary h1,.ueberschrift-brand-secondary h2,.ueberschrift-brand-secondary h3,.ueberschrift-brand-secondary h4,.ueberschrift-brand-secondary h5,.ueberschrift-brand-secondary h6 {}

/* text classes */
.text-weiss, .text-weiss p {color: #ffffff !important;}
.text-rot, .text-rot p {color: red !important;}
.text-gelb, .text-gelb p {color: yellow !important;}
.text-blau, .text-blau p {color: blue !important;}
.text-orange, .text-orange p {color: orange !important;}
.text-gruen, .text-gruen p {color: green !important;}
.text-braun, .text-braun p {color: brown !important;}
.text-schwarz, .text-schwarz p {color: black !important;}
.text-grau, .text-grau p {color: grey !important;}
.text-pink, .text-pink p {color: pink !important;}
.text-violett, .text-violett p {color: violet !important;}
.text-cyan, .text-cyan p {color: cyan !important;}

.text-schatten, .text-schatten p {text-shadow: 1px 0 3px #333;}
.text-breit, .text-breit p {font-weight:bold !important;}
.text-unterstrichen, .text-unterstrichen p {text-decoration: underline !important;}
.text-uppercase, .text-uppercase p {text-transform: uppercase !important;}

/* headline classes
.ueberschrift-weiss { h1,h2,h3,h4,h5,h6 {color: #ffffff !important;}}
.ueberschrift-rot {h1,h2,h3,h4,h5,h6 {color: red !important;}}
.ueberschrift-gelb {h1,h2,h3,h4,h5,h6 {color: yellow !important;}}
.ueberschrift-blau {h1,h2,h3,h4,h5,h6 {color: blue !important;}}
.ueberschrift-orange {h1,h2,h3,h4,h5,h6 {color: orange !important;}}
.ueberschrift-gruen {h1,h2,h3,h4,h5,h6 {color: green !important;}}
.ueberschrift-braun {h1,h2,h3,h4,h5,h6 {color: brown !important;}}
.ueberschrift-schwarz {h1,h2,h3,h4,h5,h6 {color: black !important;}}
.ueberschrift-grau {h1,h2,h3,h4,h5,h6 {color: grey !important;}}
.ueberschrift-pink {h1,h2,h3,h4,h5,h6 {color: pink !important;}}
.ueberschrift-violett {h1,h2,h3,h4,h5,h6 {color: violet !important;}}
.ueberschrift-cyan {h1,h2,h3,h4,h5,h6 {color: cyan !important;}}

.ueberschrift-schatten {h1,h2,h3,h4,h5,h6 {text-shadow: 1px 0 3px #333;}}
.ueberschrift-breit {h1,h2,h3,h4,h5,h6 {font-weight:bold !important;}}
.ueberschrift-unterstrichen {h1,h2,h3,h4,h5,h6 { text-decoration: underline !important;}}
.ueberschrift-uppercase {h1,h2,h3,h4,h5,h6 {text-transform: uppercase !important;}}
*/


/* link classes */
.link-weiss a {color: #ffffff !important;}
.link-rot a {color: red !important;}
.link-gelb a {color: yellow !important;}
.link-blau a {color: blue !important;}
.link-orange a {color: orange !important;}
.link-gruen a {color: green !important;}
.link-braun a {color: brown !important;}
.link-schwarz a {color: black !important;}
.link-grau a {color: grey !important;}
.link-pink a {color: pink !important;}
.link-violett a {color: violet !important;}
.link-cyan a {color: cyan !important;}

.link-schatten a {text-shadow: 1px 0 3px #333;}
.link-breit a {font-weight:bold !important;}
.link-unterstrichen  a {text-decoration: underline !important;}
.link-uppercase a {text-transform: uppercase !important;}

/* background classes */
.hintergrund-rot {background-color: red !important;}
.hintergrund-gelb {background-color: yellow !important;}
.hintergrund-blau {background-color: blue !important;}
.hintergrund-orange {background-color: orange !important;}
.hintergrund-gruen {background-color: green !important;}
.hintergrund-braun {background-color: brown !important;}
.hintergrund-schwarz {background-color: black !important;}
.hintergrund-weiss {background-color: white !important;}
.hintergrund-grau {background-color: grey !important;}
.hintergrund-pink {background-color: pink !important;}
.hintergrund-violett {background-color: violet !important;}
.hintergrund-cyan {background-color: cyan !important;}

.hintergrund-transparent, .hintergrund-transparent-transparent {background-color: transparent !important;}
.hintergrund-transparent-rot {background-color: rgba(255,0,0,0.5) !important;}
.hintergrund-transparent-gelb {background-color: rgba(255,255,0,0.5) !important;}
.hintergrund-transparent-blau {background-color: rgba(0,0,255,0.5) !important;}
.hintergrund-transparent-orange {background-color: rgba(255,128,0,0.5) !important;}
.hintergrund-transparent-gruen {background-color: rgba(0,255,0,0.5) !important;}
.hintergrund-transparent-braun {background-color: rgba(165,42,42,0.5) !important;}
.hintergrund-transparent-schwarz {background-color: rgba(0,0,0,0.5) !important;}
.hintergrund-transparent-weiss {background-color: rgba(255,255,255,0.5) !important;}
.hintergrund-transparent-grau {background-color: rgba(180,180,180,0.5) !important;}
.hintergrund-transparent-pink {background-color: rgba(255,192,203,0.5) !important;}
.hintergrund-transparent-violett {background-color: rgba(238,130,238,0.5) !important;}
.hintergrund-transparent-cyan {background-color: rgba(0,255,255,0.5) !important;}




/* media responsive classes */

.always-responsive img, .always-responsive video {
    width: 100%;
}

.always-responsive-tablet img, .always-responsive-tablet video {
    width: 100%;
}
@media (min-width: 992px) {
  .always-responsive-tablet img, .always-responsive-tablet video {
    width: initial;
  }
}

.always-responsive-desktop img, .always-responsive-desktop video {
  width: 100%;
}
@media (min-width: 1200px) {
  .always-responsive-desktop img, .always-responsive-desktop video {
    width: initial;
  }
}

.no-responsive, .no-responsive img, .no-responsive video {
  width: initial;
  max-width: initial;
  height: initial;
}






